In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("train.csv")
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

#Question A: Looking for the missing Values

In [ ]:
mis_vals=df.isnull().sum()
print(mis_vals)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

**Dropping the `New_price` column because it has more than 5000 missing values.**

In [ ]:
df= df.drop(columns=['New_Price'])

In [ ]:
print(df.columns)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price'],
      dtype='object')

**Categorizing df**

In [ ]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
print("Numerical Columns:", numerical_cols)
print("Categorical Columns:", categorical_cols)

Numerical Columns: Index(['Unnamed: 0', 'Year', 'Kilometers_Driven', 'Seats', 'Price'], dtype='object')
Categorical Columns: Index(['Name', 'Location', 'Fuel_Type', 'Transmission', 'Owner_Type',
       'Mileage', 'Engine', 'Power'],
      dtype='object')

In [ ]:
for col in numerical_cols:
    df[col] = df[col].fillna(df[col].mean())
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
print(df.isnull().sum())

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

**Justification**

1. **Numerical Columns:** Missing values in Mileage, Engine Displacement, Horsepower, and Seats were filled with the mean due to their minimal percentage (less than 1%), ensuring the overall distribution remains unaffected.

2. **Categorical Columns:** Missing values in Fuel Type and Transmission were filled using the mode, preserving the categorical nature of the df and providing reasonable estimates.

3. **Dropping the New_Price Column:** The New_Price column was removed because 86% of its values were missing, making it unreliable for imputation and potentially misleading if filled.

#Question B : Removing units from attributes

In [10]:
df['Mileage'] = df['Mileage'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
df['Engine'] = df['Engine'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)
df['Power'] = df['Power'].astype(str).str.extract(r'(\d+\.?\d*)').astype(float)

In [11]:
print(df[['Mileage', 'Engine', 'Power']].head())

   Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10

#Question 3: one hot encoding

In [12]:
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'])

In [13]:
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0              True               False             False
1             False               False              True
2              True               False             False
3              True               False             False
4              True               False             False

   Transmission_Automatic  Transmission_Manual
0                   False                 True
1                   False                 True
2                   False                 True
3                    True                False
4                   False                 True

# Question D:Adding additional feature

In [15]:
import datetime as dt
current_year = dt.datetime.now().year  # Get the current year dynamically
df['Car Age'] = current_year - df['Year']
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0              True               False             False
1             False               False              True
2              True               False             False
3              True               False             False
4              True               False             False

   Transmission_Automatic  Transmission_Manual  Car Age
0                   False                 True        9
1                   False                 True       13
2                   False                 True       12
3                    True                False       11
4                   False                 True       11

In [17]:
df.to_csv('cleantrain.csv', index=False)

#Question E:

In [18]:
cdf=pd.read_csv("cleantrain.csv")
cdf.head()

,S.No,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,True,False,False,False,True,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,False,False,True,False,True,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,True,False,False,False,True,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,True,False,False,True,False,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,True,False,False,False,True,11

**A.select**

In [21]:
sel_columns = cdf[['Price', 'Kilometers_Driven', 'Mileage', 'Car Age']]
print(sel_columns.head())

   Price  Kilometers_Driven  Mileage  Car Age
0  12.50              41000    19.67        9
1   4.50              46000    13.00       13
2   6.00              87000    20.77       12
3  17.74              40670    15.20       11
4   3.50              86999    23.08       11

In [23]:
filtered_df = cdf[(cdf['Kilometers_Driven'] > 50000) & (cdf['Car Age'] <20)]
print(filtered_df.head())

   S.No                                 Name Location  Year  \
2     3                    Maruti Ertiga VDI  Chennai  2012
4     6               Nissan Micra Diesel XV   Jaipur  2013
6     8  Volkswagen Vento Diesel Comfortline     Pune  2013
7     9       Tata Indica Vista Quadrajet LS  Chennai  2012
9    11          Honda City 1.5 V AT Sunroof  Kolkata  2012

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
2              87000      First    20.77  1248.0   88.76    7.0   6.00
4              86999      First    23.08  1461.0   63.10    5.0   3.50
6              64430      First    20.54  1598.0  103.60    5.0   5.20
7              65932     Second    22.30  1248.0   74.00    5.0   1.95
9              60000      First    16.80  1497.0  116.30    5.0   4.49

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
2              True               False             False
4              True               False             False
6              True               False             False
7              True               False             False
9             False               False              True

   Transmission_Automatic  Transmission_Manual  Car Age
2                   False                 True       12
4                   False                 True       11
6                   False                 True       11
7                   False                 True       12
9                    True                False       12

In [30]:
cdf = cdf.rename(columns={'Price': 'Vehicle_Price'})
print(df.columns)

Index(['S.No', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Owner_Type',
       'Mileage', 'Engine', 'Power', 'Seats', 'Vehicle_Price',
       'Fuel_Type_Diesel', 'Fuel_Type_Electric', 'Fuel_Type_Petrol',
       'Transmission_Automatic', 'Transmission_Manual', 'Car Age'],
      dtype='object')

In [32]:
print(cdf.sort_values(by='Vehicle_Price', ascending=True).head())
print(cdf.sort_values(by='Kilometers_Driven', ascending=False).head())

      S.No                  Name Location  Year  Kilometers_Driven Owner_Type  \
1660  1713          Tata Nano Lx     Pune  2011              65000     Second
2758  2847      Hyundai Getz GLS     Pune  2005              86000     Second
1577  1628  Maruti 800 Std BSIII   Jaipur  2004              12000     Second
3039  3138        Maruti Zen LXI   Jaipur  1998              95150      Third
3127  3228        Maruti 800 Std     Pune  2003              52000      First

      Mileage  Engine  Power  Seats  Vehicle_Price  Fuel_Type_Diesel  \
1660     26.0   624.0   35.0    4.0           0.44             False
2758     15.3  1341.0   83.0    5.0           0.45             False
1577     16.1   796.0   37.0    4.0           0.45             False
3039     17.3   993.0   60.0    5.0           0.45             False
3127     16.1   796.0   37.0    4.0           0.50             False

      Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
1660               False              True                   False
2758               False              True                   False
1577               False              True                   False
3039               False              True                   False
3127               False              True                   False

      Transmission_Manual  Car Age
1660                 True       13
2758                 True       19
1577                 True       20
3039                 True       26
3127                 True       21
      S.No                                             Name Location  Year  \
2259  2328                        BMW X5 xDrive 30d M Sport  Chennai  2017
326    340           Skoda Octavia Ambition Plus 2.0 TDI AT  Kolkata  2013
1805  1860                 Volkswagen Vento Diesel Highline  Chennai  2013
344    358                            Hyundai i10 Magna 1.2  Chennai  2009
2734  2823  Volkswagen Jetta 2013-2015 2.0L TDI Highline AT  Chennai  2015

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  \
2259            6500000      First    15.97  2993.0  258.00    5.0
326              775000      First    19.30  1968.0  141.00    5.0
1805             720000      First    20.54  1598.0  103.60    5.0
344              620000      First    20.36  1197.0   78.90    5.0
2734             480000      First    16.96  1968.0  138.03    5.0

      Vehicle_Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
2259           65.0              True               False             False
326             7.5              True               False             False
1805            5.9              True               False             False
344             2.7             False               False              True
2734           13.0              True               False             False

      Transmission_Automatic  Transmission_Manual  Car Age
2259                    True                False        7
326                     True                False       11
1805                   False                 True       11
344                    False                 True       15
2734                    True                False        9

In [33]:
price_summary = cdf.groupby('Fuel_Type_Diesel')['Vehicle_Price'].agg(['mean', 'median', 'min', 'max', 'count'])
print(price_summary)

                       mean  median   min    max  count
Fuel_Type_Diesel
False              5.761988    4.21  0.44  120.0   2686
True              12.960686    7.85  0.60  160.0   3161

In [37]:
# Summarize: Group by Location
summary = cdf.groupby('Location').agg({'Vehicle_Price': 'mean', 'Car Age': 'mean'}).rename(columns={'Vehicle_Price': 'Average_Price', 'Car Age': 'Average_Age'}).reset_index()
print(summary.head())

     Location  Average_Price  Average_Age
0   Ahmedabad       8.567248    10.660550
1   Bangalore      13.482670    11.161932
2     Chennai       7.958340    11.926471
3  Coimbatore      15.160206     8.583201
4       Delhi       9.881944    10.653704